@import "./peremena";

.footer{
    padding: 100px 0;
    background-color: #c0301c;
}

.footer_social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_elipse{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:2px solid #fff;
    cursor: pointer;
    position: relative;
    &:nth-child(-n+3){
        margin-right: 15px;
    }
    .footer_img{
        position: absolute; 
        left: 50%; top: 50%; 
        transform: translate(-50%,-50%);
    }
}

.footer_hr{
    @include hr;
    background-color: #fff;
}

.footer_text {
    font-size: 12px;
    font-family: "RobotoSlab";
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1.667;
    display: flex;
    justify-content: center;
}
  