@import "./header";
@import "./footer";
@import "./grid";
@import "./startup";
@import "./info";
@import "./contacts";
@import "./peremena";

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;  
}

.all{
    padding-top: 95px;
}

.container2{
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

