@import "./peremena";

.grid{
    height: auto;
    .all{
        padding-bottom: 24px;
    }
}

.grid_categoria{
    display: flex;
    justify-content: center;
}

// .grid_text{
//     @include glav-text;
//     margin: 0;
//     margin-right: 25px;
//     transition: color .3s linear;
//     cursor: pointer;
//     &:last-child{
//         margin-right: 0;
//     }
//     &:hover {
//         color:#c0301c;     
//     }
// }

.active{
    color:#c0301c;
    font-weight: 600;
}

.grid_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.grid_item{
    max-width: 32%;
    // padding: 0 15px;
    margin-bottom: 0;
    position: relative;
    background:#c0301c;
    &:hover .grid_img{
        opacity: .3;
    }

    &:hover .grid_mini{
        display: block;
    }
    &:nth-child(-n+6) {
        margin-bottom: 30px;
    }
}

.grid_img{
    display: block;
    transition: opacity .3s linear;
    height: auto;
    max-width: 100%;
}

.grid_mini{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate3d(-50% , -50% ,0);
    transition:  .3s linear;
    text-align: center;
}

.grid_title {
    font-size: 18px;
    font-family: "Montserrat";
    color: #ffffff;
    line-height: 1.333;
    text-align: center;
}
  
.grid_subtitle {
    font-size: 12px;
    font-family: "RobotoSlab";
    color: #ffffff;
    line-height: 2;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}
  
.grid_link{
    background-color: #fff;
    text-decoration: none;
    padding: 15px 30px  15px 20px;
    font-size: 14px;
    font-family: "RobotoSlab";
    color: #c0301c;
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
    position: relative;
    transition:  .3s linear;
    &::after{
        content: "";
        width: 8px;
        height: 8px;
        border-top: 2px solid #c0301c;
        border-right: 2px solid #c0301c ;
        position: absolute;
        top:48%;
        right: 10px;
        z-index:1;
        transform: translate3d(-50% , -50% ,0) rotate(45deg);
    }
    &:hover{
        background-color: #f7c0c0; 
    }
}

.spech{
    background-color: #c0301c; 
    position:relative;
}

.spech_img{
    display: block;
    opacity: .5;
    width: 100%;
}

.spech_glav{
    position:absolute;
    top: 25%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0 auto ;
}

.spech_title {
    font-size: 30px;
    font-family: "RobotoSlab";
    color: #ffffff;
    line-height: 1.467;
    text-align: center;
    max-width: 454px;
    margin-bottom: 50px;
}

.grid_slider{
    .slick-dots{
    bottom: 1239px;
    
    
    }

    .slick-dots li button:before{
        @include glav-text;
    } 
    .slick-dots li.slick-active button:before
    {
        color:#c0301c;
    }
    #slick-slide-control10::before{
        content: 'All';
        left: -132px;
    }
    #slick-slide-control11::before{
        content: 'Branding';
        left: -106px;
    }
    #slick-slide-control12::before{
        content: 'Design';
        left: -42px;
    }
    #slick-slide-control13::before{
        content: 'Development';
        left: 8px;
    }
    // есть проблема
    #slick-slide-control14::before{
        content: 'Strategy';
        left: 98px;
    }
}

@media (max-width:1230px){
    .grid_item{
        &:nth-child(-n+6) {
            margin-bottom: 20px;
        }
    }

    .grid_slider .slick-dots{
        bottom: 105%;
    }

    .spech_title{
        font-size: 23px;
    }

    .intro_link{
        padding: 13px 19px;
    }

    .spech_glav{
        top: 20%;
    }
}

@media (max-width:990px){
    .grid_item{
        &:nth-child(-n+6) {
            margin-bottom: 15px;
        }
    }

    .grid_title{
        font-size: 15px;
    }

    .grid_link{
        font-size: 12px;
        padding: 15px 20px 15px 15px;
    }
    
    .spech_title{
        font-size: 16px;
        margin-bottom: 30px;
    }

    .intro_link{
        padding: 11px 15px;
    }

    .spech_glav{
        top: 23%;
    }
}

@media (max-width:770px){
    .grid_item{
        max-width: 49%;
        &:nth-child(9) {
            margin-top: 15px;
        }
    }

    .grid_slider .slick-dots{
        bottom: 103%;
    }

    .grid_items{
        padding-bottom: 50px;
    }

    .spech_title{
        font-size: 12px;
        margin-bottom: 20px;
        max-width: 330px;
    }

    .intro_link{
        padding: 8px 10px;
    }

    .spech_glav{
        top: 23%;
    }

}

@media (max-width:575px){
    .spech_title{
        font-size: 10px;
        margin-bottom: 10px;
        max-width: 330px;
    }

    .intro_link{
        padding: 8px 10px;
        font-size: 9px;
    }
}

