@import "./peremena";

.title{
    @include title;
    
}

.hr{
    @include hr;
}

.text{
    @include glav-text;
}

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.services_item{
    width: 33.3333%;
    text-align: center;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.ellipse{
    border-radius: 50%;
    border: 1px solid #dddddd;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    background:#fff;
    transition:background .5s;
    &:hover{
        background:#c0301c;
    }
    &:hover .cls-1{
        fill: #fff !important;
    }
}   

.cls-1{
    fill: #c0301c !important;
    transition:fill .3s;
}

.ellipse_img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate3d(-50% , -50% , 0);
}

.services_title{
    font-size: 14px;
    font-family: "Montserrat";
    color: #555555;
    text-transform: uppercase;
    line-height: 1.714;
    margin-top: 30px;
    margin-bottom: 25px;
}
.services_text{
    @include text;
}


// INFO


.info{
    background-color: #f8f8f8;
    height: 100vh;
    min-height: 850px;
}

.info_glav{
    display: flex;
    margin-top: 70px;
}

.info_column{
    width: 50%;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}

.info_parag{
    @include text;
    text-align: left;
}

.info_items{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

// ICON

.info_hover{
    background:#555555;
    position: relative;
    &:hover .info_img{
        opacity: .6;
    }
    &:hover .info_icon{
        display: block;
    }
}

.info_icon{
    display: none;  
    position: absolute;
    left: 50%;
    bottom: 32px;
    transform: translateX(-50%);
}

.info_img{
    display: block;
    transition: opacity .3s linear;
}

.info_social_block{ 
    display: flex;
}

.info_social_item{  
    margin-right: 3px;
    position: relative;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s linear;
    &:hover {
        background-color: #c0301c;
    }
    &:last-child{
        margin-right: 0;
    }
}

// text 

.info_title{
    text-align: center;
    margin: 7px 0;
}

.info_text{
    @include text;
    font-size: 13px;
    line-height: 1.846;
}

@media (max-width:1230px){
    .container{
        max-width: 90%;
    }

    .title{
        font-size: 16px;
    }

    .ellipse{
        width: 70px;
        height: 70px;
    }

    .ellipse_img{
        height: auto;
        width: 50%;
    }

    .services_title{
        font-size: 12px;
    }

    .services_text{
        font-size: 12px;
    }

    .info_column{
        margin-right: 0px;
    }

    .info_parag{
        font-size: 12px;
        width: 90%;
    }

    .info_img{
        height: auto;
        max-width: 100%;
    }

    .info_hover{
        height: auto;
        width: 90%;
    }

    .text{
        font-style: 12px;
    }
}

@media (max-width:990px){
    .container{
        max-width: 90%;
    }

    .info_column{
        margin-right: 0px;
    }

    .info_icon{
        bottom:25px ;
    }

    .text{
        font-size: 13px;
    }

    .title{
        font-size: 15px;
    }

    .services_title{
        font-size: 11px;
    }

    .info_text{
        font-size: 11px;
    }
}

@media (max-width:770px){
    .container{
        max-width: 90%;
    }

    .info{
        height: 50vh;
        min-height: 720px;
    }
    
    .services_title{
        font-size: 10px;
    }

    .services_text{
        font-size: 10px;
    }

    .info_text{
        font-size: 10px;
    }

    .title{
        font-size: 14px;
    }

    .text{
        font-size: 12px;
    }

    .info_icon{
        bottom:20px;
    }

    .info_parag{
        font-size: 10px;
    }

    .info_social_item{
        width: 19px;
        height: 19px;
        margin-right: 10px;
    }
}

@media (max-width:560px){
    .info_glav{
        flex-direction: column;
    }

    .info_column{
        // flex-direction: column-reverse;
        width: 100%;
    }

    .info_social_item{
        height: 28px;
        width: 28px;
    }

    .info_parag{
        margin: 0;
        text-align: center;
    }

    .services_title{
        text-align: center;
    }
    
    .info_text{
        text-align: center;
    }
}