@import "./peremena";

.startup_items{
    margin-top: 70px;
    margin-bottom: 100px;
}
.startup_item{
    display: flex;
    &:first-child{
        margin-bottom: 35px;
    }
    &:last-child{
        margin-top: 35px;
    }
}

.startup_img{
    margin-right: 40px;
}

.startup_header{
    display: flex;
    margin-bottom: 25px;
}

.startup_block{
    width: 76px;
    height: 77px;
    border:2px solid #555555;
    margin-right: 20px;
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat";
    color: #777777;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.833;
    padding-top: 20px;
    position: relative;
    &::before{
        content: "oct";
        position: absolute;
        font-size: 14px;
        top: 45px;
        left: 50%;
        transform:translateX(-50%);
    }
}

.startup_title{
    font-size: 16px;
    font-family: "Montserrat";
    color: #c0301c;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 10px 0; 
    &:last-child{
        color:#aaaaaa;
    }
}

.startup_suptitle {
    font-size: 13px;
    font-family: "RobotoSlab";
    color: #777777;
    line-height: 1.846;
    margin: 0;
    font-style:  italic;
}

.startup_suptitle span{
    color: #c0301c;
}

.starup_text{
    @include text;
    text-align: left;
    margin-bottom: 35px;
}

.startup_link {
    font-size: 13px;
    font-family: "RobotoSlab";
    color:#777777;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.846;
    text-decoration: none;
    transition: .3s ease;
    &:hover{
        font-weight: 900;
        color: #c0301c;
    }
}

.startup_hr{
    width: 98%;
    margin: 0;
    color:#dddddd;
    opacity: .3;
    margin:  0 auto;
}

// BRENDS
.brends{
    background-color: #f8f8f8;
    padding: 100px 0;
}

.sliders{
    // display: flex;  
}

.brends_items{
    display: flex !important;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 65px;
}

.brends_text  {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #555555;
    line-height: 1.667;
    text-align: center;
    margin-top: 40px;
}

.brends_title{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: #555555;
    line-height: 1.667;
    text-align: center;
}

.slick-initialized .slick-slide{
    outline: none;
}
// КРУГ

.slick-dots li{
    bottom: -33px;
    margin: 0 0 ;
}

.slick-dots li button:before {
    opacity: 1 ;
    color: #ddd ;
    font-size: 15px ;
}

.slick-dots li.slick-active button:before{
    opacity: 1 ;
    color: #c0301c ;
}

@media (max-width:1230px){
    .startup_img{
        height: auto;
        max-width: 100%;
    }

    .starup_text{
        font-size: 13px;
    }

    .container2{
        width: 90% !important;
    }

    .brends_img{
        height: auto;
        max-width: 100%;
    }

    .brends_title{
        font-size: 16px;
    }

    .brends_text{
        font-size: 16px;
    }
}

@media (max-width:990px){
    .startup_img{
        height: auto;
        max-width: 50%;
    }
    
    .startup_header{
        margin-bottom: 10px;
    }

    .startup_title{
        font-size: 14px;
        margin-top: 0;
    }

    .starup_text{
        font-size: 11px;
        margin-bottom: 10%;
    }

    .startup_block{
      font-size: 20px;
        &::before{
          font-size:11px ;
      }
    }

    .brends_items{
        justify-content: space-around;
    }

    .brends_img{
        height: auto;
        max-width: 12%;
    }
}

@media (max-width:770px){
    .startup_img{
        height: auto;
        max-width: 70%;
        margin-right: 0;
        margin-top: 20px; 
    }

    .startup_item{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }

    .startup_O{
        max-width: 70%;
    }

    .starup_text{
        margin-bottom: 10px;
    }
    
    .slick-dots li button:before{
        font-size: 12px;
    }

    .brends_title{
        font-size: 14px;
    }

    .brends_text{
        font-size: 14px;
    }

}

@media (max-width:560px){
    .brends{
        padding: 50px 0;
    }
    .slick-dots li button:before{
        font-size: 7px;
    }

    .brends_items{
        margin-bottom: 40px;
    }
    .brends_title{
        font-size: 12px;
    }

    .brends_text{
        font-size: 12px;
        margin-top: 25px;
    }

    .container{
        max-width: 100% !important;
    }

    .startup_img{
        height: auto;
        max-width: 90%;
        margin-right: 0;
        margin-top: 20px; 
    }

    .startup_O{
        max-width: 95%;
    }

    .startup_title{
        font-size: 11px;   
    }

    .startup_link{
        font-size: 10px;
    }
}




  


  